<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Самосвалы</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "searching": false,
                "paging": false,
                "lengthChange": false,
                "info": false
            });
        } );
    </script>
</head>
<body>
<form action="" method="get">
    {{ filter.form }}
    <input type="submit" name="Применить" value="Применить"/>
</form>

<table id="datatable">
    <thead>
    <tr>
        <th>Бортовой номер</th>
        <th>Модель</th>
        <th>Макс. грузоподъемность</th>
        <th>Текущий вес</th>
        <th>Перегруз, %</th>
    </tr>
    </thead>
    <tbody>
    {% for car in filter.qs %}
        <tr>
            <td>{{ car.tail_number }}</td>
            <td>{{ car.car_model }}</td>
            <td>{{ car.car_model.max_load_capacity }}</td>
            <td>{{ car.current_load_capacity }}</td>
            <td>{{ car.overload }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>